## Week 3 Assigment - Segmenting and Clustering Neighborhoods in Toronto - Part 1
### Bruno Florencio

### Scrap data from wikipedia and store in a pandas dataframe

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup


req = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(req.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))

df_to=pd.DataFrame(df[0])
df_to.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### Data Wrangling

In [9]:
#Drop all the rows with Not assigned Borough

import numpy as np

df_to.replace("Not assigned", np.nan, inplace = True)
df_to.dropna(subset=["Borough"], axis=0, inplace=True)
df_to.reset_index(drop=True, inplace=True)
df_to.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [10]:
#Check if we have any null cell

missing_data = df_to.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postal code
False    103
Name: Postal code, dtype: int64

Borough
False    103
Name: Borough, dtype: int64

Neighborhood
False    103
Name: Neighborhood, dtype: int64

In [19]:
#replacing '/' to ',' and remove any space 

df_to["Neighborhood"] = df_to["Neighborhood"].str.replace(" / ", " , ")
df_to["Neighborhood"] = df_to["Neighborhood"].str.strip()
df_to.head(5)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [20]:
df_to.to_csv(r'df_can.csv')

In [22]:
df_to.shape

(103, 3)

### End of Part 1